Repository waku-org/nwaku, pull requests merged in 2023-08, with the labels that each got.

#1856 feat: autosharding content topic in config
  apps/wakunode2/app.nim
  apps/wakunode2/external_config.nim
  tests/wakunode2/test_app.nim
Labels: release notes

#1867 fix(rln-relay): mark duplicated messages as spam
  waku/v2/waku_rln_relay/rln_relay.nim
Labels: track:rln

#1913 fix(rln-relay): timeout on macos runners, use fixed version of ganache
  tests/waku_rln_relay/test_rln_group_manager_onchain.nim
Labels: E:2023-rln

#1857 feat: update various protocols to autoshard
  apps/chat2/chat2.nim
  apps/wakunode2/app.nim
  tests/test_waku_lightpush.nim
  tests/test_wakunode_filter.nim
  tests/test_wakunode_lightpush.nim
  tests/waku_core/test_namespaced_topics.nim
  tests/waku_core/test_sharding.nim
  tests/waku_filter_v2/test_waku_filter.nim
  tests/waku_store/test_waku_store.nim
  tests/waku_store/test_wakunode_store.nim
  tests/wakunode_jsonrpc/test_jsonrpc_filter.nim
  tests/wakunode_rest/test_rest_filter.nim
  waku/node/jsonrpc/filter/handlers.nim
  waku/node/rest/filter/types.nim
  waku/node/waku_node.nim
  waku/waku_core/topics/content_topic.nim
  waku/waku_core/topics/sharding.nim
  waku/waku_lightpush/client.nim
Labels: E:2023-10k-users

#1915 fix(rln-relay): invalid start index being set results in invalid proofs
  waku/node/waku_node.nim
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
  waku/waku_rln_relay/rln/wrappers.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:2023-rln

#1916 fix(rln-relay): remove registration capability
  apps/chat2/chat2.nim
  apps/chat2/config_chat2.nim
  apps/wakunode2/app.nim
  apps/wakunode2/external_config.nim
  docs/tutorial/onchain-rln-relay-chat2.md
  waku/waku_rln_relay/rln_relay.nim
Labels: E:2023-rln

#1920 fix(rln-relay): waitFor startup, otherwise valid proofs will be marked invalid
  apps/chat2/chat2.nim
  apps/wakunode2/app.nim
  waku/node/waku_node.nim
Labels: E:2023-rln

#1925 feat(rln): init rln_keystore_generator
  Makefile
  tools/rln_keystore_generator/README.md
  tools/rln_keystore_generator/external_config.nim
  tools/rln_keystore_generator/nim.cfg
  tools/rln_keystore_generator/rln_keystore_generator.nim
  waku.nimble
Labels: E:2023-rln

#1926 chore(rln): remove old and add new rln metric
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
  waku/waku_rln_relay/protocol_metrics.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:2023-rln

#1924 chore(rln-relay): rename keystore application to waku-rln-relay
  waku/waku_rln_relay/constants.nim
Labels: E:2023-rln

#1928 chore(rln_keystore_generator): generate and persist credentials
  tools/rln_keystore_generator/external_config.nim
  tools/rln_keystore_generator/rln_keystore_generator.nim
Labels: E:2023-rln

#1932 fix(rln-relay): RLN DB should be aware of chain and contract address
  tests/waku_rln_relay/test_rln_group_manager_onchain.nim
  tests/waku_rln_relay/test_waku_rln_relay.nim
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
  waku/waku_rln_relay/rln/wrappers.nim
Labels: E:2023-rln

#1943 chore(rln-relay): integrate waku rln registry
  tests/waku_rln_relay/test_rln_group_manager_onchain.nim
  tools/rln_keystore_generator/rln_keystore_generator.nim
  waku/waku_rln_relay/contract.nim
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:2023-rln

#1953 fix(rln-relay): window of acceptable roots synced to rln metadata
  tests/waku_rln_relay/test_rln_group_manager_onchain.nim
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
  waku/waku_rln_relay/rln/wrappers.nim
Labels: E:2023-rln

#1955 fix(rln-relay): sync from deployed block number
  tests/waku_rln_relay/test_rln_group_manager_onchain.nim
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
Labels: E:2023-rln

#1960 fix(Makefile): error out if rln-keystore-generator not compiled with rln flag
  Makefile
Labels: E:2023-rln

#1956 fix(rln-relay): modify keystore credentials logic
  apps/chat2/chat2.nim
  apps/chat2/config_chat2.nim
  apps/wakunode2/app.nim
  apps/wakunode2/external_config.nim
  tests/test_waku_keystore.nim
  tests/waku_rln_relay/test_waku_rln_relay.nim
  tools/rln_keystore_generator/rln_keystore_generator.nim
  waku/waku_keystore/conversion_utils.nim
  waku/waku_keystore/keystore.nim
  waku/waku_keystore/protocol_types.nim
  waku/waku_keystore/utils.nim
  waku/waku_rln_relay/constants.nim
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:2023-rln, release-notes

#1964 fix(Makefile): rln was enabled by default
  Makefile
Labels: E:2023-rln

#1963 chore(rln-keystore-generator): log out the membership index upon registration
  tools/rln_keystore_generator/rln_keystore_generator.nim
Labels: E:2023-rln

#1973 fix(rln-relay): deserialization of valid merkle roots
  waku/waku_rln_relay/rln/wrappers.nim
Labels: E:2023-rln

#1970 chore(refactoring): external_config.nim - cleanup 'store-resume-peer' attribute
  apps/wakunode2/external_config.nim
Labels: release-notes
