Repository waku-org/nwaku, pull requests merged in 2023-09, with the labels that each got.

#1968 chore(api): validate rln message before sending (rest + rpc)
  tests/waku_rln_relay/test_waku_rln_relay.nim
  tests/wakunode_jsonrpc/test_jsonrpc_relay.nim
  tests/wakunode_rest/test_rest_relay.nim
  waku/node/jsonrpc/relay/handlers.nim
  waku/node/rest/relay/handlers.nim
  waku/waku_relay/protocol.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:2023-rln

#1984 chore(rln-relay): use the only key from keystore if only 1 exists
  apps/chat2/config_chat2.nim
  apps/wakunode2/external_config.nim
  tests/test_waku_keystore.nim
  tests/waku_rln_relay/test_waku_rln_relay.nim
  tests/waku_rln_relay/test_wakunode_rln_relay.nim
  tests/wakunode_jsonrpc/test_jsonrpc_relay.nim
  tests/wakunode_rest/test_rest_relay.nim
  waku/waku_keystore/keystore.nim
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:2023-rln

#1986 chore(rln-relay): apt log levels for certain logs
  waku/waku_rln_relay/rln_relay.nim
Labels: E:2023-rln

#1966 feat(relay): ordered validator execution
  apps/wakunode2/wakunode2_validator_signed.nim
  tests/waku_relay/test_waku_relay.nim
  tests/waku_relay/test_wakunode_relay.nim
  tests/waku_rln_relay/test_waku_rln_relay.nim
  waku/node/waku_node.nim
  waku/waku_relay/protocol.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:2023-rln, release-notes

#1994 chore(rln-relay): clean up nullifier table every MaxEpochGap
  apps/wakunode2/app.nim
  tests/waku_rln_relay/test_wakunode_rln_relay.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:2023-rln

#1989 chore(rln-relay): add isReady check
  tests/waku_rln_relay/test_rln_group_manager_onchain.nim
  waku/node/waku_node.nim
  waku/waku_rln_relay/group_manager/group_manager_base.nim
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
  waku/waku_rln_relay/group_manager/static/group_manager.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:2023-rln

#1999 feat(rln_db_inspector): create rln_db_inspector tool
  Makefile
  tools/rln_db_inspector/external_config.nim
  tools/rln_db_inspector/nim.cfg
  tools/rln_db_inspector/rln_db_inspector.nim
  waku.nimble
Labels: E:2023-rln

#2012 fix(rln-db-inspector): use valueOr pattern
  tools/rln_db_inspector/rln_db_inspector.nim
Labels: E:2023-rln

#1993 chore(rln-relay): updated docs
  docs/operators/how-to/run-with-rln.md
  docs/tutorial/onchain-rln-relay-chat2.md
  docs/tutorial/rln-keystore-generator.md
  tools/rln_keystore_generator/README.md
Labels: E:2023-rln

#2001 feat(rln-relay): removed rln from experimental 🚀
  .github/workflows/ci-experimental.yml
  .github/workflows/container-image.yml
  .github/workflows/pre-release.yml
  .github/workflows/release-assets.yml
  Dockerfile
  Makefile
  apps/chat2/chat2.nim
  apps/wakunode2/app.nim
  ci/Jenkinsfile.prs
  ci/Jenkinsfile.release
  docs/operators/how-to/run-with-rln.md
  docs/tutorial/onchain-rln-relay-chat2.md
  docs/tutorial/rln-chat2-live-testnet.md
  docs/tutorial/rln-chat2-local-test.md
  tests/all_tests_waku.nim
  tests/wakunode_jsonrpc/test_jsonrpc_relay.nim
  tests/wakunode_rest/test_rest_health.nim
  tests/wakunode_rest/test_rest_relay.nim
  waku/node/jsonrpc/relay/handlers.nim
  waku/node/rest/relay/handlers.nim
  waku/node/waku_metrics.nim
  waku/node/waku_node.nim
  waku/waku_core/message/codec.nim
  waku/waku_core/message/message.nim
Labels: E:2023-rln

#1982 fix: preventing IP 0.0.0.0 from being published
  tests/all_tests_waku.nim
  tests/waku_core/test_published_address.nim
  tests/wakunode_jsonrpc/test_jsonrpc_admin.nim
  waku/node/config.nim
  waku/node/peer_manager/peer_manager.nim
Labels: release-notes

#2018 fix(rln-relay): waku_rln_number_registered_memberships metrics appropriately handled
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
  waku/waku_rln_relay/protocol_metrics.nim
Labels: E:2023-rln

#2052 feat: lightpush rest api
  apps/wakunode2/app.nim
  tests/all_tests_waku.nim
  tests/wakunode_rest/test_rest_lightpush.nim
  tests/wakunode_rest/test_rest_relay_serdes.nim
  waku/node/rest/lightpush/client.nim
  waku/node/rest/lightpush/handlers.nim
  waku/node/rest/lightpush/openapi.yaml
  waku/node/rest/lightpush/types.nim
  waku/node/rest/relay/types.nim
  waku/node/rest/responses.nim
  waku/node/waku_node.nim
Labels: E:REST API service node

#2063 feat: added optional filtering by shard to selectPeer()
  waku/node/peer_manager/peer_manager.nim
Labels: E:1.4: Sharded peer management and discovery

#1983 feat: Autosharding API for relay subscriptions
  apps/chat2/chat2.nim
  apps/chat2bridge/chat2bridge.nim
  apps/networkmonitor/networkmonitor.nim
  apps/wakunode2/app.nim
  examples/publisher.nim
  examples/subscriber.nim
  tests/test_peer_exchange.nim
  tests/test_waku_discv5.nim
  tests/test_wakunode.nim
  tests/test_wakunode_lightpush.nim
  tests/waku_relay/test_waku_relay.nim
  tests/waku_relay/test_wakunode_relay.nim
  tests/waku_rln_relay/test_wakunode_rln_relay.nim
  tests/wakunode2/test_validators.nim
  tests/wakunode_jsonrpc/test_jsonrpc_relay.nim
  tests/wakunode_rest/test_rest_filter.nim
  tests/wakunode_rest/test_rest_lightpush.nim
  tests/wakunode_rest/test_rest_relay.nim
  waku/node/waku_node.nim
  waku/waku_api/cache_handlers.nim
  waku/waku_api/jsonrpc/relay/callsigs.nim
  waku/waku_api/jsonrpc/relay/handlers.nim
  waku/waku_api/rest/relay/client.nim
  waku/waku_api/rest/relay/handlers.nim
  waku/waku_api/rest/relay/topic_cache.nim
  waku/waku_api/rest/relay/types.nim
  waku/waku_core/topics.nim
  waku/waku_discv5.nim
  waku/waku_relay/protocol.nim
Labels: E:1.2: Autosharding for autoscaling

#2086 fix(ci): fix name of discord notify method
  ci/Jenkinsfile.release
  ci/discord.groovy
Labels: infra

#2080 chore(networkmonitor): refactor setConnectedPeersMetrics, make it partially concurrent, add version
  apps/networkmonitor/networkmonitor.nim
  apps/networkmonitor/networkmonitor_config.nim
  apps/networkmonitor/networkmonitor_metrics.nim
Labels: E:Define network and community metrics
