Repository waku-org/nwaku, pull requests merged in 2024-02, with the labels that each got.

#2413 feat(rln-relay-v2): nonce/messageId manager
  apps/chat2/chat2.nim
  apps/chat2/config_chat2.nim
  apps/wakunode2/app.nim
  tests/node/test_wakunode_relay_rln.nim
  tests/waku_rln_relay/test_all.nim
  tests/waku_rln_relay/test_rln_nonce_manager.nim
  tests/waku_rln_relay/test_waku_rln_relay.nim
  tests/waku_rln_relay/test_wakunode_rln_relay.nim
  waku/waku_api/jsonrpc/relay/handlers.nim
  waku/waku_api/rest/relay/handlers.nim
  waku/waku_rln_relay/group_manager/group_manager_base.nim
  waku/waku_rln_relay/nonce_manager.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:RLN on mainnet

#2421 chore(rln-relay-v2): add tests for serde
  tests/waku_rln_relay/rln_v2/test_rln_relay_v2_serde.nim
  waku/waku_rln_relay/conversion_utils.nim
  waku/waku_rln_relay/rln/wrappers.nim
Labels: E:RLN on mainnet

#2433 chore(ci): reuse discord send function from library
  ci/Jenkinsfile.release
  ci/discord.groovy
Labels: infra

#2429 fix(rln-relay): graceful shutdown with non-zero exit code
  apps/wakunode2/app.nim
  library/waku_thread/inter_thread_communication/requests/node_lifecycle_request.nim
  waku/common/error_handling.nim
  waku/node/waku_node.nim
  waku/waku_archive/driver.nim
  waku/waku_archive/driver/builder.nim
  waku/waku_archive/driver/postgres_driver/postgres_driver.nim
  waku/waku_archive/driver/postgres_driver/postgres_healthcheck.nim
  waku/waku_rln_relay/group_manager/group_manager_base.nim
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
  waku/waku_rln_relay/group_manager/on_chain/retry_wrapper.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:RLN on mainnet

#2442 chore(rln-relay): remove wss support from node config
  apps/chat2/chat2.nim
  apps/chat2/config_chat2.nim
  apps/networkmonitor/networkmonitor.nim
  apps/networkmonitor/networkmonitor_config.nim
  apps/wakunode2/app.nim
  apps/wakunode2/external_config.nim
  docs/operators/how-to/run-with-rln.md
  docs/tutorial/onchain-rln-relay-chat2.md
  tools/rln_keystore_generator/rln_keystore_generator.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: release-notes, E:RLN on mainnet

#2480 chore(ci): use git describe for image version
  Dockerfile
  Makefile
  ci/Jenkinsfile.release
Labels: infra

#2416 chore: remove json rpc
  apps/chat2bridge/chat2bridge.nim
  apps/chat2bridge/config_chat2bridge.nim
  apps/wakunode2/app.nim
  apps/wakunode2/external_config.nim
  docs/api/node.md
  docs/api/rest-api.md
  docs/faq.md
  docs/operators/how-to/run.md
  docs/operators/overview.md
  docs/tutorial/jsonrpc-api.md
  tests/all_tests_waku.nim
  tests/testlib/wakunode.nim
  tests/wakunode_jsonrpc/test_all.nim
  tests/wakunode_jsonrpc/test_jsonrpc_admin.nim
  tests/wakunode_jsonrpc/test_jsonrpc_debug.nim
  tests/wakunode_jsonrpc/test_jsonrpc_filter.nim
  tests/wakunode_jsonrpc/test_jsonrpc_store.nim
  waku/waku_api.nim
  waku/waku_api/jsonrpc/admin/callsigs.nim
  waku/waku_api/jsonrpc/admin/client.nim
  waku/waku_api/jsonrpc/admin/handlers.nim
  waku/waku_api/jsonrpc/admin/types.nim
  waku/waku_api/jsonrpc/debug/callsigs.nim
  waku/waku_api/jsonrpc/debug/client.nim
  waku/waku_api/jsonrpc/debug/handlers.nim
  waku/waku_api/jsonrpc/filter/callsigs.nim
  waku/waku_api/jsonrpc/filter/client.nim
  waku/waku_api/jsonrpc/filter/handlers.nim
  waku/waku_api/jsonrpc/hexstrings.nim
  waku/waku_api/jsonrpc/marshalling.nim
  waku/waku_api/jsonrpc/message.nim
  waku/waku_api/jsonrpc/relay/callsigs.nim
  waku/waku_api/jsonrpc/relay/client.nim
  waku/waku_api/jsonrpc/store/callsigs.nim
  waku/waku_api/jsonrpc/store/client.nim
  waku/waku_api/jsonrpc/store/handlers.nim
  waku/waku_api/jsonrpc/store/types.nim
Labels: blocked
