Repository waku-org/nwaku, pull requests merged in 2024-03, with the labels that each got.

#2292 chore(rln_db_inspector): include in wakunode2 binary
  apps/wakunode2/wakunode2.nim
  docs/tutorial/rln-db-inspector.md
  tools/rln_db_inspector/README.md
  tools/rln_db_inspector/external_config.nim
  tools/rln_db_inspector/nim.cfg
  tools/rln_db_inspector/rln_db_inspector.nim
  waku/factory/external_config.nim
Labels: track:rln

#2508 fix(rln-relay): make nullifier log abide by epoch ordering
  tests/waku_rln_relay/test_waku_rln_relay.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:RLN on mainnet

#2511 fix: introduce new field for shards in metadata protocol
  waku/waku_metadata/rpc.nim
Labels: release-notes, status-waku-integ

#2501 chore(rln-relay-v2): wakunode testing + improvements
  .github/workflows/ci.yml
  .github/workflows/container-image.yml
  Makefile
  tests/all_tests_waku.nim
  tests/waku_rln_relay/rln/waku_rln_relay_utils.nim
  tests/waku_rln_relay/rln_v2/test_rln_relay_v2_serde.nim
  tests/waku_rln_relay/test_all.nim
  tests/waku_rln_relay/test_rln_nonce_manager.nim
  tests/waku_rln_relay/test_waku_rln_relay.nim
  tests/waku_rln_relay/test_wakunode_rln_relay.nim
  tests/wakunode_rest/test_rest_relay.nim
  waku/waku_api/rest/relay/handlers.nim
  waku/waku_rln_relay/constants.nim
  waku/waku_rln_relay/conversion_utils.nim
  waku/waku_rln_relay/nonce_manager.nim
  waku/waku_rln_relay/rln/wrappers.nim
  waku/waku_rln_relay/rln_relay.nim
Labels: E:RLN on mainnet
