Repository waku-org/nwaku, pull requests merged in 2024-01, with the labels that each got.

#2347 chore: update CHANGELOG.md for v0.24.0
  CHANGELOG.md
Labels: release

#2341 chore: Refactor of FilterV2 subscription management with Time-to-live maintenance
  apps/chat2/chat2.nim
  apps/chat2bridge/chat2bridge.nim
  apps/wakunode2/app.nim
  apps/wakunode2/external_config.nim
  tests/node/test_wakunode_filter.nim
  tests/test_peer_manager.nim
  tests/test_wakunode_filter_legacy.nim
  tests/waku_filter_v2/test_waku_client.nim
  tests/waku_filter_v2/test_waku_filter_protocol.nim
  tests/waku_filter_v2/waku_filter_utils.nim
  tests/waku_store/test_wakunode_store.nim
  tests/wakunode_jsonrpc/test_jsonrpc_admin.nim
  tests/wakunode_jsonrpc/test_jsonrpc_filter.nim
  tests/wakunode_rest/test_rest_admin.nim
  tests/wakunode_rest/test_rest_filter.nim
  tests/wakunode_rest/test_rest_legacy_filter.nim
  waku/node/waku_node.nim
  waku/utils/tableutils.nim
  waku/waku_api/rest/admin/handlers.nim
  waku/waku_filter/protocol.nim
  waku/waku_filter_v2.nim
  waku/waku_filter_v2/protocol.nim
  waku/waku_filter_v2/subscriptions.nim
Labels: release-notes

#2364 chore(rln-relay): remove websocket from OnchainGroupManager
  apps/chat2/config_chat2.nim
  apps/wakunode2/external_config.nim
  tests/waku_rln_relay/test_rln_group_manager_onchain.nim
  waku/waku_rln_relay/constants.nim
  waku/waku_rln_relay/group_manager/on_chain/group_manager.nim
  waku/waku_rln_relay/group_manager/on_chain/retry_wrapper.nim
Labels: track:rln, release-notes

#2381 chore(rln-relay-v2): use rln-v2 contract code
  Makefile
  tests/waku_rln_relay/test_rln_group_manager_onchain.nim
  waku/waku_rln_relay/contract.nim
Labels: E:RLN on mainnet
